<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Policy</h1>
      <p>
        On this page you will find information about our shipping duration and
        costs.
      </p>

      <h4>Order Processing Duration</h4>
      <p>
        BestBags platform may take between 4 and 6 days for the platform to process and prepare an order for shipping after a customer places an order.During this processing time, the platform will review the order details, confirm payment, and assemble and package the items. This includes selecting the products, preparing them for shipping, and labeling the package.
      </p>

      <h4>Order Delivery</h4>
      <p>
        BestBags platform outlines the expected delivery timeframes for orders, the available shipping methods, and any associated fees. It may also include information about international shipping, order tracking, and the process for returns or exchanges.
      </p>

      <h4>Shipping Rates</h4>
      <p>
        BestBags platform outlines the cost of shipping orders, which may vary based on factors such as order weight, shipping method, and destination. It may also include information about free shipping thresholds, expedited shipping options, and any additional fees or surcharges.
      </p>

      <h4>Returning Products</h4>
      <p>
        The return policy for an BestBags platform that sells bags describes the steps customers should take if they wish to return a product, including any eligibility requirements, the timeframe for returns, and any fees that may be associated with the return. The policy may also cover information on exchanges, refunds, and the condition in which returned items must be.
      </p>

      <h4>Do you have questions?</h4>
      <p>
        Please do not hesitate to
        <a href="/pages/contact-us"><u>contact us</u></a> through our emails or
        phone numbers
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>